.container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.coulmn-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-on-third {
  flex-basis: calc(100% / 3);
}

img {
  width: 100%;
}
