body {
  box-sizing: border-box;
  margin: auto;
  width: 400px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#left-arrow,
#right-arrow {
  align-items: center;
  display: flex;
  font-size: 40px;
}

img {
  width: 100%;
}

.img-div {
  width: 200px;
  padding: 1rem 3rem;
}

.row > i {
  letter-spacing: 1rem;
}

.hidden {
  display: none;
}
